.container__error {
  width: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error__image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}
