.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  .navbar__list {
    display: flex;
    list-style: none;

    .navbar__item {
      margin: 0 1rem;

      .navbar__link {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;

        &:hover {
          color: rgb(40, 0, 20);
        }
      }

      &.active {
        .navbar__link {
          color: #a9235f;
          opacity: 1;
        }
      }
    }
  }
}
