ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;

  ul > li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5rem 1rem;
  }

  .link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0rem 2rem;
    color: #333;

    &:hover {
      color: #000;
    }
  }

  .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn {
      background-color: #bf616a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1.2rem;
      font-size: 1.2rem;
      cursor: pointer;
      margin-bottom: 1rem;

      &:hover {
        background-color: #a2575f;
      }
    }
  }
}
