ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  .link {
    text-decoration: none;
  }

  .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      font-size: 1.6rem;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #000;
      }
    }
  }
}
